*{
	box-sizing: border-box;
}
body{
	margin: auto 2%;
	padding: auto 1%;
	font-family: "Neutrif Studio" sans-serif;
	line-height: 1.5;
}
/* Global */
.gridStyle{
	display: grid;
	padding: 2%;
}
.grid-2{
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0;
}
.grid-3{
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 0;
}
.grid-4{
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap:0;
}
.grid-5{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 0;
}
.grid-6{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-7{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.logo{
	font-weight: bold;
	font-size: 1.8em;

}
hr{
	vertical-align: middle;
	width:100px;
	height: 1px;
	background-color: black;
}
.vertical-text {
	transform: rotate(-90deg);
	transform-origin:left top 0;
	transform-style: preserve-3d;
}
/* header section */
header .container{
	width: 100%;
	margin: auto;
	overflow: hidden;
  text-align: center;
}
header a{
	text-decoration: none;
	color: inherit;
}
header li{
	display: inline;
	padding: 0 20px 0 20px;
}
header .logo{
	float: left;
	position: absolute;
	top:0;
}
header #branding h1{
	margin: 0;
}
header nav{
	height: 10%;
	padding: 1% 0;
	color: inherit;
}
header .navbar{
	position: absolute;
	top:0;
	right:0;
}
header a{
	text-decoration: none;
	color: inherit;
}
header ul, li{
	float: right;
	display: inline-block;
	list-style-type: none;
	padding: 0 20px 0 20px;
	font-size: 16px;
}
header img{
	padding: auto;
}
header h1{
	font-size: 4em;
	text-align: center;
	position: absolute;
	top: 30%;
  left: 7%;
	padding: 0 5%;
}
header h3{
	font-size: 1.2em;
	position: absolute;
	top:20%;
	left:15%;
}
header .premises{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	font-size: 1.2em;
	position: absolute;
	bottom: 10%;
	left:15%;
}
/* locations section */
#locations h2{
	margin: 2%;
	padding: 2%;
	font-size: 1.5em;
}
#locations h1{
	margin: 5% 15%;
	text-align: center;
	font-size: 2.5em;
}
#locations a{
		text-decoration: none;
		color: inherit;
		font-size: 1.2em;
		margin-left: 2%;
}
#locations .active a{
	border-bottom: solid 5px #3570ff;
}
#locations a:hover{
	border-bottom: solid 5px #3570ff;
	font-weight: bold;
}

/* Magazine Style */
.gallary{
margin: auto;
padding: 1%;
}
.gallary h2{
	text-align:left;
	margin: 5%;
}
.gallary span{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	margin: 5%;
}
.gallary hr{
	width:80px;
	margin-top:15%;
	float:right;
}
.gallary p{
	margin: 5%;
}

.item1{
	background: url("https://via.placeholder.com/360x400?");
	width: 360px;
	height:400px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start:1;
	grid-row-end: 2;
	border: 1px groove black;
}
.item2{
	background: url("https://via.placeholder.com/850x800?");
	width:850px;
	height:800px;
	grid-column-start:2;
	grid-column-end:5;
	grid-row-start: 1;
	grid-row-end: 3;
	border: 1px groove black;
}
.item3{
	background: url("https://via.placeholder.com/360x400?");
	width: 360px;
	height:400px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start:2;
	grid-row-end: 3;
	border: 1px groove black;
}
.item4{
	background: url("https://via.placeholder.com/630x300?");
	width: 630px;
	height:300px;
	grid-column-start:1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	border: 1px groove black;
}
.item5{
	background: url("https://via.placeholder.com/630x300?");
	width: 630px;
	height:300px;
	grid-column-start:3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	border: 1px groove black;
}
/* Services Style */
.serviceContainer h4{
	margin: auto 3%;
	text-align: right;
}
.img{
	background-image: url('https://via.placeholder.com/360x400?');
	width: 360px;
	height: 400px;
}
.textBox{
	margin-left:10%;
	width: 80%;
}
.textBox h3{
	text-align: Left;
}
.textBox hr{
	width:50px;
	margin-top:15%;
}

/* Search Box Style */
.searchBox{
	width: 100%;
	height: 420px;
	background-image: url("https://via.placeholder.com/1300x420?text=");
	background-repeat: no-repeat;
	background-size: cover;
}
.searchBox h2{
	text-align: center;
	font-size: 3em;
	position: relative;
	top: 10%;
}
.searchBox p{
	text-align: center;
	font-size: 1.5em;
	padding: auto 10%;
}
/*Footer Style  */
footer{
	background-color: #242632;
	color: white;
}
footer h5{
	font-weight: bold;
	font-size: 1.1em;
}
footer .logo{
	font-size: 1.2em;
	margin: auto 2%;
}
footer .icon{
	border: 2px solid white;
	border-radius: 50%;
	width: 500px;
  height: 500px;
}
